<div class="row p-3">
  <mat-list
    role="list"
    class="col-md">
    <div
      class="subheader"
      mat-subheader>
      Responsible
    </div>
    <mat-list-item role="listitem"
      >{{ restaurant?.responsible?.firstname }}
      {{ restaurant?.responsible?.lastname }}</mat-list-item
    >
    <mat-list-item role="listitem"
      >{{ restaurant?.address?.street }}
      {{ restaurant?.address?.house }}</mat-list-item
    >
    <mat-list-item role="listitem"
      >{{ restaurant?.address?.postalCode }}
      {{ restaurant?.address?.city }}</mat-list-item
    >
    <mat-divider class="m-3 mb-4"> </mat-divider>
    <div
      class="subheader"
      mat-subheader>
      Opening hours
    </div>

    <mat-list-item
      *ngFor="let day of restaurant?.hours"
      role="listitem"
      ><div class="row">
        <span class="col">{{ day.day }}</span
        ><span class="col">{{
          day.isOpen ? day.time.from + ' - ' + day.time.to : 'Closed'
        }}</span>
      </div></mat-list-item
    >
  </mat-list>

  <mat-list
    role="list"
    class="col-md second-list w-50">
    <div
      class="subheader"
      mat-subheader>
      Orders
    </div>
    <mat-list-item role="listitem">Total: {{ orders?.length }}</mat-list-item>
    <mat-list-item role="listitem"
      >New: {{ filterOrderLength('new') }}</mat-list-item
    >
    <mat-list-item role="listitem"
      >In Process: {{ filterOrderLength('process') }}</mat-list-item
    >
    <mat-list-item role="listitem"
      >In Delivery: {{ filterOrderLength('delivery') }}</mat-list-item
    >
    <mat-list-item role="listitem"
      >Done: {{ filterOrderLength('done') }}</mat-list-item
    >
    <mat-divider class="m-3 mb-4"> </mat-divider>
    <div
      class="subheader"
      mat-subheader>
      Other
    </div>
    <mat-list-item role="listitem"
      >User: {{ users?.length }} users in total</mat-list-item
    >
    <mat-list-item role="listitem"
      >Dishes: {{ dishes?.length }} dishes in total</mat-list-item
    >
    <mat-list-item role="listitem"
      >Tags: {{ tags?.length }} tags in total</mat-list-item
    >
  </mat-list>
</div>
