<div class="container position-relative">
  <mat-card class="my-5 px-4 py-2 user-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title
          ><span class="h2">{{
            u?.firstname + ' ' + u?.lastname
          }}</span></mat-card-title
        >
        <mat-card-subtitle>{{ u?.company }}</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-title-group class="justify-content-end">
        <mat-card-title>
          <a
            href="mailto:{{ contact?.mail }}"
            target="_blank"
            *ngIf="contact?.mail"
            class="d-flex gap-2 align-items-center direct-link justify-content-end"
            ><mat-icon fontIcon="mail"></mat-icon>{{ contact?.mail }}</a
          >
          <a
            href="tel:{{ contact?.phone }}"
            target="_blank"
            *ngIf="contact?.phone"
            class="d-flex gap-2 align-items-center direct-link justify-content-end"
            ><mat-icon fontIcon="call"></mat-icon>{{ contact?.phone }}</a
          >
        </mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="py-3 text-end">
      <p>{{ address?.street }} {{ address?.house }}</p>
      <p>{{ address?.postalCode }} {{ address?.city }}</p>
    </mat-card-content>
  </mat-card>
</div>
<div class="bg-mat-white my-5">
  <div class="container">
    <table
      mat-table
      class="full-width-table"
      matSort
      aria-label="Elements">
      <!-- Id Column -->
      <ng-container matColumnDef="time">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header>
          Date
        </th>
        <td
          mat-cell
          *matCellDef="let row">
          {{ getDate(row.timestamp) }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="items">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header>
          Order
        </th>
        <td
          mat-cell
          *matCellDef="let row">
          <div class="d-flex">
            <div *ngFor="let item of row.cart.order; let i = index">
              <span *ngIf="i < 2">{{ item.name }}</span>
              <span *ngIf="i < 2">,&nbsp;</span>
            </div>
            <span *ngIf="(row.cart.order.length || 0) > 2">
              (+{{ (row.cart.order.length || 0) - 1 }}
              {{ row.cart.order.length === 3 ? 'other' : 'others' }})
            </span>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header>
          Price
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          class="d-flex justify-content-between align-items-center">
          <span>{{ row.cart.price }}</span
          ><a mat-icon-button>
            <mat-icon>launch</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      #paginator
      [length]="0"
      [pageIndex]="0"
      [pageSize]="0"
      aria-label="Select page"
      class="d-none">
    </mat-paginator>
  </div>
</div>
