.full-width-table {
  width: 100%;
}

.direct-link {
  position: relative;

  &::after {
    $size: 0.66rem;
    content: 'launch';
    height: $size;
    font-family: 'Material Icons Round';
    font-size: $size;
    display: block;
    position: absolute;
    right: -$size;
    bottom: 40%;
    z-index: 0;
  }
}

.first-letter-uppercase::first-letter {
  text-transform: uppercase;
}
