<div class="container mx-0">
  <div class="d-flex justify-content-between align-items-center pt-3">
    <h2>New</h2>
    <small class="h5">({{ new.length }})</small>
  </div>

  <div
    cdkDropList
    [cdkDropListDisabled]="anonymous"
    #newList="cdkDropList"
    [cdkDropListData]="new"
    [cdkDropListConnectedTo]="[processList]"
    class="list list-0"
    (cdkDropListDropped)="drop($event)">
    <div
      class="list-item"
      *ngFor="let item of new"
      [cdkDragDisabled]="saving"
      cdkDrag>
      <mat-list
        role="list"
        class="mx-md-3">
        <div
          matListItemTitle
          class="d-flex align-items gap-2">
          <span
            class="material-icons-outlined"
            [ngClass]="getTimePriority(item.timestamp, 'new')">
            access_time_filled </span
          ><span>TBD: {{ remainingTime(item.timestamp) }}</span>
        </div>
        <mat-divider class="pb-3"></mat-divider>
        <div matListItemTitle>
          From:
          <b
            >{{ item.user?.data?.customer?.firstname }}
            {{ item.user?.data?.customer?.lastname }}</b
          >
        </div>
        <div
          *ngFor="let dish of item.cart.order"
          matListItemLine>
          {{ dish.count }}x {{ dish.name }}
        </div>
      </mat-list>
    </div>
  </div>
</div>

<div class="container mx-0">
  <div class="d-flex justify-content-between align-items-center pt-3">
    <h2>In process</h2>
    <small class="h5">({{ process.length }})</small>
  </div>

  <div
    cdkDropList
    [cdkDropListDisabled]="anonymous"
    #processList="cdkDropList"
    [cdkDropListData]="process"
    [cdkDropListConnectedTo]="[newList, deliveryList]"
    class="list list-1"
    (cdkDropListDropped)="drop($event)">
    <div
      class="list-item pb-1"
      *ngFor="let item of process"
      [cdkDragDisabled]="saving"
      cdkDrag>
      <mat-list role="list">
        <mat-list-item
          role="listitem"
          class="no-p-event"
          *ngFor="let dish of item.cart.order">
          {{ dish.count }}x {{ dish.name }}
        </mat-list-item>
        <div
          matListItemLine
          class="text-end pb-3 me-3"
          [ngClass]="getTimePriority(item.timestamp, 'process')">
          TBD: {{ remainingTime(item.timestamp) }}
        </div>
      </mat-list>
    </div>
  </div>
</div>
<div class="container mx-0">
  <div class="d-flex justify-content-between align-items-center pt-3">
    <h2>In delivery</h2>
    <small class="h5">({{ delivery.length }})</small>
  </div>

  <div
    cdkDropList
    [cdkDropListDisabled]="anonymous"
    #deliveryList="cdkDropList"
    [cdkDropListData]="delivery"
    [cdkDropListConnectedTo]="[processList, doneList]"
    class="list list-2"
    (cdkDropListDropped)="drop($event)">
    <div
      class="list-item"
      *ngFor="let item of delivery"
      [cdkDragDisabled]="saving"
      cdkDrag>
      <mat-list role="list">
        <mat-list-item
          matListItemTitle
          class="height-fit ms-2">
          <p class="mb-0">
            {{ item.user?.data?.customer?.firstname }}
            {{ item.user?.data?.customer?.lastname }}
          </p>
        </mat-list-item>
        <mat-list-item
          matListItemTitle
          class="height-fit ms-2">
          <p class="mb-0">
            {{ item.user?.data?.address?.street }}
            {{ item.user?.data?.address?.house }}
          </p>
        </mat-list-item>
        <mat-list-item
          matListItemTitle
          class="height-fit ms-2">
          <p class="mb-0">
            {{ item.user?.data?.address?.postalCode }}
            {{ item.user?.data?.address?.city }}
          </p>
        </mat-list-item>
        <div
          matListItemLine
          class="text-end me-3"
          [ngClass]="getTimePriority(item.timestamp, 'delivery')">
          TBD: {{ remainingTime(item.timestamp) }}
        </div>
      </mat-list>
    </div>
  </div>
</div>

<div class="container mx-0">
  <div class="d-flex justify-content-between align-items-center pt-3">
    <h2>Done</h2>
    <small class="h5">({{ done.length }})</small>
  </div>

  <div
    cdkDropList
    [cdkDropListDisabled]="anonymous"
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[deliveryList]"
    class="list list-3"
    (cdkDropListDropped)="drop($event)">
    <div
      class="list-item"
      *ngFor="let item of done"
      [cdkDragDisabled]="saving"
      cdkDrag>
      <mat-list
        role="list"
        class="mx-3">
        <div matListItemLine>Ordered: {{ getDate(item.timestamp) }}</div>
        <div
          *ngFor="let dish of item.cart.order"
          matListItemLine>
          {{ dish.count }}x {{ dish.name }}
        </div>
      </mat-list>
    </div>
  </div>
</div>
